# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Environment
.env
# IntelliJ
.idea/
*.iml
# Maven
target/
*.jar
# Logs
*.log
# OS
.DS_Store
Thumbs.db